<article class="target target-card" id="{{ row.anchor_id }}" tabindex="-1" data-target-card data-target-id="{{ row.target.id }}">
  {% include "target_card/_header.html" %}
  {% include "target_card/_runtime_notes.html" %}
  {% include "target_card/_collapsed_summary.html" %}

  <div class="target-collapsible" id="target-collapsible-{{ row.target.id }}" data-target-collapsible>
    <div class="target-body">
      {% include "target_card/_config_form.html" %}
      {% include "target_card/_preview_panel.html" %}
    </div>
  </div>

  {% include "target_card/_footer_controls.html" %}
  {% include "_target_settings_modal.html" %}
  {% include "_hit_records_modal.html" %}
  {% include "target_card/_scan_diagnostics_modal.html" %}
  {% include "target_card/_rename_modal.html" %}
  {% include "target_card/_keyword_help_modals.html" %}
</article>
